.nav-bar {
  margin-top: 20px;
  position: absolute;
  right: 10%;
  color: #cbcbcb;
}

li {
  display: inline;
  margin: 10px;
  font-size: medium;
  padding: 5px;
  transition: 0.3s;
  border-radius: 10px;
}

li:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.4);
  color: #2b3141;
  transition: 0.3s;
}
