<!--TODO remove code duplication-->

<div class="form-container">
  <form class="form">
    <mat-form-field class="form-field">
      <p>Personal identification code</p>


      <!--    Right now this was the only way I found to allow only digits on a String input. -->
      <!--    I did try to find a better solution but it was not a priority right now.-->
      <input
        onkeypress="return (event.charCode !== 8 && event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57))"
        [(ngModel)]="pic" (keyup)="checkCustomer(); clearLoanParameters()" name="PIC" matInput>
    </mat-form-field>
    <mat-error *ngIf="pic.length > 11">PIC too long.</mat-error>
    <mat-error *ngIf="!customerExistsOnDataBase && pic.length === standardPICLength" class="statistics">Customer not
      found on database.
    </mat-error>
  </form>


</div>
<div class="calculations-container customer-debt"
     *ngIf="customerExistsOnDataBase && !isEligibleForAnyLoan && pic.length === standardPICLength && pic !== undefined">
  <mat-error>You are not eligible for a loan.</mat-error>
</div>
<div class="calculations-container"
     *ngIf="isEligibleForAnyLoan && customerExistsOnDataBase && pic !== undefined && pic.length === standardPICLength">


  <div class="form-container">
    <form class="form">
      <mat-form-field class="form-field">
        <p>Loan amount (2000€ - 10 000€)</p>

        <!--      I know the next line looks ugly but I tried making it work with "input type="number" -->
        <!--      but for some odd reason it doesn't work. -->
        <input type="number" class="number-input" [(ngModel)]="loanAmount" (keyup)="getLoanOffer()" name="Loan amount" matInput>
      </mat-form-field>
      <mat-error *ngIf="!isCorrectLoanAmount() && loanAmount !== undefined && loanAmount.length !== 0">Invalid amount
      </mat-error>

      <mat-form-field class="form-field">
        <p>Loan period (12 - 60 months)</p>

        <input type="number" class="number-input" [(ngModel)]="loanPeriod" (keyup)="getLoanOffer()" name="loan period" matInput>
      </mat-form-field>

      <mat-error *ngIf="!isCorrectLoanPeriod() && loanPeriod !== undefined && loanPeriod.length !== 0">Invalid loan
        period
      </mat-error>


    </form>


    <button *ngIf="!isEligibleForCurrentLoan() && isCorrectLoanParameters()" mat-stroked-button color="warn"
            class="button-unavailable">Loan unavailable!
    </button>


    <div class="conditions conditions-on-any"
         *ngIf="isCorrectLoanParameters() && getMaxAmountForCurrentPeriod() >= 2000">
      <p
        *ngIf="getMaxAmountForCurrentPeriod() < 10000 && getMaxAmountForCurrentPeriod() != loanAmount">
        Maximum loan amount for chosen period: {{getMaxAmountForCurrentPeriod()}}
      </p>
      <p *ngIf="getMaxAmountForCurrentPeriod() >= 10000 && loanAmount != 10000">
        Maximum amount for chosen period: 10 000€
      </p>
    </div>


    <div class="conditions conditions-on-failure" *ngIf="!isEligibleForCurrentLoan() && isCorrectLoanParameters()">
      <p *ngIf="getMinPeriodForCurrentAmount() <= 60">
        Minimum period for current loan sum: {{getMinPeriodForCurrentAmount()}} months
      </p>
      <p *ngIf="getMinPeriodForCurrentAmount() > 60">
        Requested loan amount not available for any period.
      </p>
      <p *ngIf="getMaxAmountForCurrentPeriod() >= 2000">
        Maximum loan sum for chosen period: {{getMaxAmountForCurrentPeriod()}}
      </p>
      <p *ngIf="getMaxAmountForCurrentPeriod() < 2000">
        No loan sum available for chosen period.
      </p>
    </div>

    <button *ngIf="isEligibleForCurrentLoan()" routerLink="/details" mat-stroked-button class="button-submit">Apply for
      loan!
    </button>


  </div>


</div>


