<!--TODO remove code duplication-->

<div class="form-container">
  <form class="form">
    <mat-form-field class="form-field">
      <mat-label>Personal identification code</mat-label>

      <!--      TODO improve the next line (checks for numbers only)-->
      <input
        onkeypress="return (event.charCode !== 8 && event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57))"
        [(ngModel)]="pic" (keyup)="resetCustomer()" (keyup)="getCustomer(pic)" name="PIC" matInput>
    </mat-form-field>
    <mat-error *ngIf="pic.length > 11">PIC too long.</mat-error>
    <mat-error *ngIf="customer === null && pic.length === 11" class="statistics">Customer not found on database.
    </mat-error>
  </form>


</div>
<div class="calculations-container customer-debt" *ngIf="customer !== undefined && customer !== null && !isEligibleForAnyLoan()">
  <mat-error>You are not eligible for a loan.</mat-error>
</div>
<div class="calculations-container" *ngIf="customer !== undefined && customer !== null && !isModifierTooLow() && pic.length === 11">
  <div class="form-container">
    <form class="form">
      <mat-form-field class="form-field">
        <mat-label>Loan amount (2000€ - 10 000€)</mat-label>

        <!--      TODO improve the next line (checks for numbers only)-->
        <input
          onkeypress="return (event.charCode !== 8 && event.charCode === 0 || (event.charCode >= 48 && event.charCode <= 57))"
          [(ngModel)]="loanAmount" name="Loan amount" matInput>
      </mat-form-field>
      <mat-error *ngIf="loanAmount <2000 || loanAmount > 10000">Invalid amount</mat-error>

      <mat-form-field class="form-field">
        <mat-label>Loan period (12 - 60 months)</mat-label>

        <!--      TODO improve the next line-->
        <input
          onkeypress="return (event.charCode !== 8 && event.charCode === 0 || (event.charCode >= 48 && event.charCode <= 57))"
          [(ngModel)]="loanPeriod" name="loan period" matInput>
      </mat-form-field>

      <mat-error *ngIf="loanPeriod <12 || loanPeriod > 60">Invalid loan period</mat-error>
    </form>




    <div class="eligible-for-loan fail" *ngIf="!isEligibleForCurrentLoan() && isValidLoanConditions()">
      <p>Loan unavailable.</p>
    </div>

    <div class="conditions conditions-on-any" *ngIf="isValidLoanConditions() && getMaximumAmountForChosenPeriod() >= 2000">
      <p *ngIf="getMaximumAmountForChosenPeriod() > 2000 && getMaximumAmountForChosenPeriod() < 10000 && getMaximumAmountForChosenPeriod() != loanAmount">
        Maximum loan amount for chosen period: {{getMaximumAmountForChosenPeriod()}}
      </p>
      <p *ngIf="getMaximumAmountForChosenPeriod() >= 10000 && loanAmount != 10000">
        Maximum amount for chosen period: 10 000€
      </p>
    </div>



    <div class="conditions conditions-on-failure" *ngIf="!isEligibleForCurrentLoan() && isValidLoanConditions()">
      <p *ngIf="getMinimumPeriodForChosenAmount() <= 60">
        Minimum period for current loan sum: {{getMinimumPeriodForChosenAmount()}} months
      </p>
      <p *ngIf="getMinimumPeriodForChosenAmount() > 60">
        Requested loan amount not available for any period.
      </p>
      <p *ngIf="getMaximumAmountForChosenPeriod() >= 2000">
        Maximum loan sum for chosen period: {{getMaximumAmountForChosenPeriod()}}
      </p>
      <p *ngIf="getMaximumAmountForChosenPeriod() < 2000">
        No loan sum available for chosen period.
      </p>
    </div>

    <div class="eligible-for-loan success" *ngIf="isEligibleForCurrentLoan() && isValidLoanConditions()">
      <p (click)="verifyCustomerData()">Apply for loan!</p>
    </div>


    <!--    TODO remove this in final build-->
    <div class="credit-modifier">Customer credit score: {{getCreditScore()}}</div>

  </div>


</div>


